#!Jinja2

[[dependencies]]

   [[[R1]]]
           graph = """
	         hello_world
		 """

   [[[{{ CYCLE_INTERVAL }}]]]
           graph = """
                 hello_world[-{{CYCLE_INTERVAL}}]: succeed => hello_world

	   